.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landingPage {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: bisque;
  padding: 10px;
  flex-grow: 1;
  height: 100vh;
}

.intro {
  margin: auto;
  text-align: center;
  margin-left: 100px;
}

.intro p {
  margin: 10px;
  margin-left: 50px;
  font-size: 20px;
}

.highlighted {
  color: rgb(185, 8, 8);
}

.ptag {
  margin-left: 50px;
  font-size: 20px;
}

.separator {
  border: 4px solid rgb(185, 8, 8);
  background-color: rgb(185, 8, 8);
  margin-top: 80px;
<<<<<<< HEAD
<<<<<<< HEAD
}

=======
=======
>>>>>>> 6a91c33d57c49b7d690577bd9e9aebe4d40aedcd
  flex-grow: 1;
  margin-bottom: 40px;
  width: 0px; */
  border-left: 6px solid rgb(185, 8, 8);
  margin-bottom: 40px;

  margin-left: 200px;
  margin-top: 80px;
}

.homeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-right: 20px;
  padding-left: 10px;
}

@media screen and (max-width: 480px) {
  .separator {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 100%;
    }

  .intro {
    width: fit-content;
    margin-left: 5px;
  }

  /* .pizza {
    height: 200px;
    width: 200px;
  } */
}

@media screen and (max-width: 900px) {
  .landingPage {
    flex-direction: column;
    padding: 5px;
  }
  
  .intro {
    width: fit-content;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .separator {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}



