.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landingPage {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: bisque;
  padding: 10px;
  flex-grow: 1;
}

.intro {
  padding-top: 120px;
  padding-left: 50px;
}

.intro h1 {
  margin: 0px;
}

.highlighted {
  color: rgb(185, 8, 8);
}

.separator {
  border: 5px solid rgb(185, 8, 8);
  margin-left: 25px;
  margin-top: 80px;
  flex-grow: 1;
  margin-bottom: 40px;
}

.homeImage {
  display: block;
  max-width: 100%;
  height: auto;
  flex-grow: 1;
}

@media screen and (max-width: 480px) {
  .intro {
    padding-top: 60px;
    padding-left: 10px;
  }
  
  .separator {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .landingPage {
    flex-direction: column;
    padding: 5px;
  }
  
  .intro {
    padding-top: 80px;
    padding-left: 20px;
  }
  
  .separator {
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 20px;
  }
}




