* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Nav-container {
  background-color: rgb(185, 8, 8);
  display: flex;
  align-items: center;
}

.nav-branding {
  display: flex;
  font-size: 29px;
  padding: 30px;
  color: #fff;
}

.hub {
  color: black;
  font-weight: bold;
  font-size: 29px;
}

.nav-link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70%;
  margin-left: 100px;
  cursor: default;
}


.nav-links {
  list-style: none;
  color: #fff;
  font-size: x-large;
  /* margin: 20px; */
}

.nav-links:hover {
  color: #000;
  text-decoration: underline;
  transition:  color.3s ease-in-out,text-decoration 0.3s ease;
}